@model Employees.Models.EmployeeQuery

@{
    ViewData["Title"] = "Index";
}

<h1>Employees List</h1>


@using (Html.BeginForm("Index", "Employees", FormMethod.Post))
{
    <div class="form">
        <div class="form-group">
            @Html.Label("Employee Id: ")
            @Html.TextBoxFor(model => model.EmployeeId, new { data_bind = "value: Name", @class = "form-control", @placeholder = "employee id" })
            <small id="searchHelp" class="form-text text-muted">Leave blank for all employees.</small>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
    <br />
    <br />
}


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Contract Type</th>
            <th>Role Name</th>
            <th>Annual Salary</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Employees != null && Model.Employees.Count() > 0)
        {
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.ContractTypeName</td>
                    <td>@item.RoleName</td>
                    <td>@item.AnnualSalary</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    <small id="searchHelp" class="form-text text-muted">Query returned no elements.</small>
                </td>
            </tr>
        }
    </tbody>
</table>
